/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* Custom properties */

:root {
    --primary-bg-color: #fafafa;
    --secondary-bg-color: #0c4a6e;
    --tertiary-bg-color: #f4f4f5;
    --accent-color: #e11d48;
    
    --primary-text-color: #082f49;
    --secondary-text-color: #fafafa;

    --shadow-color: #a1a1aa;
}

/* General typography */

body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

h3 {
    font-size: 1rem;
    margin-block-end: 0.5rem;
}

/* Sections */

.container {
    background-color: var(--primary-bg-color);
    display: grid;
    grid-template-areas:
        'nav header header header'
        'nav main main main'
        'nav main main main'
}

/* Header */

header {
    display: grid;
    gap: 2rem;
    grid-area: header;
    grid-template-columns: 1fr 0.6fr;
    padding: 2rem;
}

    header button {
        background-color: var(--secondary-bg-color);
        border-radius: 25px;
        border: none;
        color: var(--secondary-text-color);
        padding: 0.6rem 1.2rem;
        width: 90px;
    }

    header p {
        font-weight: bold;
    }

.greeting {
    font-size: 0.8rem;
    padding-bottom: 0.6rem;
}

.handle {
    font-size: 1.2rem;
}

.button-group {
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    justify-self: center;
}

.searchbar {
    align-items: center;
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 30px 1fr;
}

input[type="search"] {
    background-color: var(--tertiary-bg-color);
    border-radius: 10px;
    border: none;
}

.name-group {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
}

.fa-bell {
    justify-self: end;
}

.name {
    justify-self: start;
}

.greeting-group {
    align-items: center;
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 100px 1fr;
}

/* Navbar */

nav {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    display: grid;
    font-size: 1.2rem;
    gap: 50px;
    grid-area: nav;
    grid-template-rows: repeat(3, max-content);
    padding: 2rem 1.2rem;
}

    nav ul {
        padding: 0;
        margin-inline-start: 1.5rem;
    }

    nav ul li {
        display: flex;
        list-style-type: none;
        margin-block-end: 1.6rem;
    }

    nav ul li > i {
        margin-inline-end: 0.8rem;
    }

.title {
    align-items: center;
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 4fr;
    padding-left: 1.5rem;
}

.logo {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 35px;
    width: 35px;
}

    .logo > div {
        background-color: var(--secondary-text-color);
    }

.logo1 {
    grid-area: 1 / 1 / 3 / 2;
}

.logo3 {
    grid-area: 2 / 2 / 4 / 3;
}

/* Main */

main {
    background-color: var(--tertiary-bg-color);
    display: grid;
    gap: 40px;
    grid-area: main;
    grid-template-columns: 2fr 350px;
    padding: 2rem;
}

.card {
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--shadow-color);
    padding: 1rem;
}

.card-group {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.projects .card {
    border-left: 10px solid var(--accent-color);
    display: grid;
    height: 200px;
}

.icon-group {
    align-self: end;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
}

.icon {
    width: 25px;
}

.sidebar {
    display: grid;
    gap: 20px;
    grid-template-rows: 380px 1fr;
}

.sidebar .card {
    padding: 1rem 1.8rem;
}

.announcements .intro:not(:last-child) {
    border-bottom: 2px solid var(--shadow-color);
    padding-bottom: 1rem;
}

.announcements .intro:not(:first-child) {
    padding-top: 1rem;
}

.trending {
    align-self: start;
}

.trending .card {
    display: grid;
    gap: 20px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Miscellaneous */

.avatar {
    height: 40px;
}

.avatar-lg {
    height: 60px;
}
