*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;    
}

nav ul {
    padding: 0;
    margin-inline-start: 1.5rem;
}

nav li {
    list-style-type: none;
    margin-block-end: 1.6rem;
}

nav ul li {
    display: flex;
}

nav ul li > i {
    margin-inline-end: 0.8rem;
}

.avatar {
    height: 40px;
}

.avatar-lg {
    height: 60px;
}

.container {
    background-color: #fff;
    display: grid;
    grid-template-areas:
        'nav header header header'
        'nav main main main'
        'nav main main main'
}

nav {
    background-color: #042f2e;
    color: #fff;
    display: grid;
    font-size: 1.2rem;
    gap: 50px;
    grid-area: nav;
    grid-template-rows: repeat(3, max-content);
    padding: 2rem 1.2rem;
}

.title {
    padding-left: 1.5rem;
}

header {
    display: grid;
    gap: 2rem;
    grid-area: header;
    grid-template-columns: 1fr 0.6fr;
    padding: 2rem;
}

.searchbar {
    align-items: center;
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 30px 1fr;
}

.name-group {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
}

.fa-bell {
    justify-self: end;
}

.name {
    justify-self: start;
}

.greeting-group {
    align-items: center;
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 100px 1fr;
}

header button {
    background-color: #042f2e;
    border-radius: 25px;
    border: none;
    color: #fff;
    padding: 0.6rem 1.2rem;
    width: 90px;
}

.button-group {
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    justify-self: center;
}

main {
    background-color: #eeeff3;
    display: grid;
    gap: 40px;
    grid-area: main;
    grid-template-columns: 2fr 350px;
    padding: 2rem;
}

.logo {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 35px;
    width: 35px;
}

.logo > div {
    background-color: #fff;
}

.logo1 {
    grid-area: 1 / 1 / 3 / 2;
}

.logo3 {
    grid-area: 2 / 2 / 4 / 3;
}

.title {
    align-items: center;
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 4fr;
}

input[type="search"] {
    background-color: #eeeff3;
    border-radius: 10px;
    border: none;
}

h2 {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

h3 {
    font-size: 1rem;
    margin-block-end: 0.5rem;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #c1c0c0;
    padding: 1rem;
}

.projects .card {
    border-left: 10px solid #14b8a6;
    display: grid;
    height: 200px;
}

.icon-group {
    align-self: end;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
}

.icon {
    width: 25px;
}

.card-group {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.sidebar {
    display: grid;
    gap: 20px;
    grid-template-rows: 380px 1fr;
}

.sidebar .card {
    padding: 1rem 1.8rem;
}

.announcements .intro:not(:last-child) {
    border-bottom: 2px solid grey;
    padding-bottom: 1rem;
}

.announcements .intro:not(:first-child) {
    padding-top: 1rem;
}

.trending {
    align-self: start;
}

.trending .card {
    display: grid;
    gap: 20px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

header p {
    font-weight: bold;
}

.greeting {
    font-size: 0.8rem;
    padding-bottom: 0.6rem;
}

.handle {
    font-size: 1.2rem;
}

